@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: aspire;
	src: url("fonts/aspire/Aspire-DemiBold.ttf");
}
@font-face {
	font-family: dragonfly;
	src:url("fonts/Dragonfly.ttf");
}
@font-face {
	font-family: WorstveldSling;
	src:url("fonts/WorstveldSling.ttf");
}


html, body {
	margin:0;
	padding:0;
	height:100%;
}

body {
	/*background-color:#FAF9E1;*/
	background-color: #fff;
	color:#FAF9E1;
	font-family: Arial, Helvetica, sans-serif;
	/*text-align: center;*/
}

header {
	color: #781C0E;
	font-family: WorstveldSling;
	height:150px;
	padding:0 20px;
}
/*h1, h2, h3, h4 {
	font-family: WorstveldSling;
}*/
h1 {
	font-family: WorstveldSling;
	font-size: 3em;
	padding-left:50px;
}
h3 {
	font-family: WorstveldSling;
	font-size: 2em;
	text-align: right;
}
h4 {
	font-family: WorstveldSling;
	font-size: 1.8em;
}

.container {
	display: inline-block;
	min-height:100%;
	width:820px;
	text-align: left;
	margin-left:100px;
	/*overflow: hidden;*/
}

nav {
	/*background-color: #FAF9E1;*/
	/*color: #000;*/
	color: #781C0E;
	height:75px;
	width:100%;
}
nav ul {
	display: block;
	list-style: none;
	padding-top: 18px;
	width: 100%;
}
nav li {
	font-weight: bold;
	float:left;
	height:70px;
	width:160px;
	padding-left: 10px;
	text-align: center;
}
nav li:first-child {
	margin-left:-40px;
}

nav .selected {
	background-image: url(/img/wine_glass_spill4.png);
	background-repeat: no-repeat;
	background-position: -17px 0px;
	background-size: 203px auto;
}

nav a {
	color: #781C0E;
	text-decoration: none;
}


#details img {
	left:265px;
}
#area img {
	left:450px;
}
#more img {
	left:570px;
}
#rsvp img {
	left:770px;
}

article {
	background-color: #640615; /*#8C0B1A;*/ /*#781C0E;*/
	min-height:400px;

	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;

	-moz-box-shadow: 2px 2px 3px #696969;
	-webkit-box-shadow: 2px 2px 3px #696969;
	box-shadow:2px 2px 3px #696969;
}

.content {
	padding:20px;
	/*min-height: 100%;*/
}

.content h3 {
	/*font-size: 1.3em;*/
	text-align: left;
}
.content a {
	color:#ccc;
}

.options {
	padding:20px;
}
.options a {
	color:#ccc;
	padding:0 20px;
	text-decoration: none;
}
.options .selected {
	text-decoration: underline;
}

.directions ol {
	float: left;
	width:45%;
}
.directions img {
	width:45%;
}



/**		STORY BOOK 		**/

.imBookPage {
	position:absolute;
	left:0px;
	top:0px;
	width: 300px;
	height:360px;
	color:#fff;
	overflow:hidden;
	border: solid 1px #000;
}
#iframeCntnr {
	width:604px;
	height:362px;
	padding:0;
	float:left;
}