@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: aspire;
	src: url("fonts/aspire/Aspire-DemiBold.ttf");
}
@font-face {
	font-family: dragonfly;
	src:url("fonts/Dragonfly.ttf");
}
@font-face {
	font-family: WorstveldSling;
	src:url("fonts/WorstveldSling.ttf");
}
@font-face {
	font-family: robots;
	src: url("fonts/robots.ttf");
}


html, body {
	margin:0;
	padding:0;
	height:100%;
}

body {
	/*background-color:#FAF9E1;*/
	background-color:#E6E6E6;
	color:#FFFFDB;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	overflow-x:hidden;
}

article {
	background-color: #640615;
	display: inline-block;
	min-height:100%;
	width:800px;

	box-shadow:0 1px 10px #000;
	-o-box-shadow:0 1px 10px #000;
	-moz-box-shadow:0 1px 10px #000;
	-webkit-box-shadow:0 1px 10px #000;
}

header {
	color: #FFFFDB;
	font-family: WorstveldSling;
	height:150px;
	text-shadow:1px 1px 3px #FFFFE6;
}


header img {
	float:right;
	height:200px;
	margin-right: 30px;
	z-index: 0;
	margin-top: 10px;

	box-shadow: 0 -1px 7px #FFFFE6;
	-o-box-shadow: 0 -1px 7px #FFFFE6;
	-ms-box-shadow: 0 -1px 7px #FFFFE6;
	-moz-box-shadow: 0 -1px 7px #FFFFE6;
	-webkit-box-shadow: 0 -1px 7px #FFFFE6;

	transform:rotate(5deg);
	-ms-transform:rotate(5deg);
	-webkit-transform:rotate(5deg);
}
header h3 {
	position: absolute;
	top:141px;
	margin:0;
	left:42%;
	z-index: 1;
}

h1 {
	font-family: WorstveldSling;
	font-size: 3em;
	margin:0;
	padding:20px;
	float:left;
}
h3 {
	font-family: WorstveldSling;
	font-size: 2em;
}
h4 {
	font-family: WorstveldSling;
	font-size: 1.8em;
	margin:15px 0;
}
h5 {
	font-size: 1em;
	margin:0;
}

a {
	color: #1985D1; /* rgb(0, 119, 204); */
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

nav {
	background-color: #FFFFE6;
	/*color: #000;*/
	color: #781C0E;
	height:75px;
	width:115%;
	overflow:hidden;
	margin-left:-60px;

	box-shadow:1px 1px 4px #ccc;
	-o-box-shadow:1px 1px 4px #ccc;
	-ms-box-shadow:1px 1px 4px #ccc;
	-moz-box-shadow:1px 1px 4px #ccc;
	-webkit-box-shadow:1px 1px 4px #ccc;
}
nav .button {
	background-color: transparent;
	cursor: pointer;
	display: none;
	padding: 9px 10px;
	float: right;
	margin-right: 8%;
	margin-top: 13px;

	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;

}
nav .button .line {
	border-radius: 1px;
	-o-border-radius: 1px;
	-ms-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	display: block;
	height: 2px;
	width: 30px;
	margin: 6px 5px;
	background-color: rgb(100, 6, 21);
}
nav ul {
	display: block;
	list-style: none;
	width: 100%;
}
nav li {
	font-weight: bold;
	float:left;
	height:70px;
	width:160px;
	padding-left: 10px;
	text-align: center;
}
nav li:first-child {
	margin-left:-40px;
}

nav .selected {
	background-image: url(/img/wine_glass_spill4.png);
	background-repeat: no-repeat;
	background-position: -17px 0px;
	background-size: 203px auto;
}


nav a {
	color: #781C0E;
	text-decoration: none;
}

.line {
	background-color: #fff;
	opacity: 0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	height:3px;
	width: 100%;
}

.simple {
	padding:0 20px;
	text-align: left;
}
.signature {
	font-family: WorstveldSling;
	font-size: 1.4em;
	margin:0.4em;
	text-align: right;
}
.main-details {
	display: inline-block;
	max-width: 530px;
}

.small{
	padding-bottom:10px;
}

.half div {
	display:inline-block;
	vertical-align: text-top;
	width: 330px;
	padding: 10px 20px;
}

.directions ol, .directions img {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width:350px;
}
.directions h4 a {
	font-family: sans-serif;
	font-size:0.5em;
	padding-left:30px;
}

.revelstoke {
	display:none;
}

/** STORIES **/
.story h4, .main p {
	margin:0;
}

.story .button {
	cursor:pointer;
	display: inline-block;
	padding:20px;

	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 0 0 3px 0 #E6E6E6;
	-o-box-shadow: 0 0 3px 0 #E6E6E6;
	-ms-box-shadow: 0 0 3px 0 #E6E6E6;
	-moz-box-shadow: 0 0 3px 0 #E6E6E6;
	-webkit-box-shadow: 0 0 3px 0 #E6E6E6;
}
.story .button:hover {
	/* article: 640615 */
	background-color: #77333D;
	/* 741F2C; */
}
.story .list {
	display: none;
	padding:10px 0;
}

.main {
	padding:20px;
	text-align: center;
}
.main .button {
	width:75%;
}

.party {
	display: inline-block;
	text-align: center;
	width:320px;
}
.party .button {
	height:30px;
	width:200px;
}

footer {
	height:20px;
	padding: 30px 30px 5px 30px;
}
footer p {
	color:#E6E6E6;
	font-size: 0.8em;
	margin: 0;
	text-align: left;
}


.rsvp {
	padding-left:20px;
	text-align: left;
}
.rsvp .options {
	padding: 10px 0 10px 30px;
}
.rsvp .address {
	padding-bottom:10px;
	padding-top:10px;
}

#rsvpMessage {
	background-color: #66A266;
	color: white;
	text-align: center;
	padding: 10px 0;
	font-weight: bold;
}
.error {
	background-color: #AD5C5C !important;
}


.background-cover {
	background: transparent;
	border:5px solid black;
	display:none;
	position:absolute;
	min-height:100%;
	width: 100%;
	z-index: 1;
}
.book_container {
	display: none;
	background-color:#222;
	padding:5px 10px;
	margin-left:-10px;
	position: absolute;
	height:362px;
	width:800px;
	top:200px;
	text-align: center;
	
	border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;

	box-shadow: 0px 0px 35px #FFFF99;
	-o-box-shadow: 0px 0px 35px #FFFF99;
	-ms-box-shadow: 0px 0px 35px #FFFF99;
	-moz-box-shadow: 0px 0px 35px #FFFF99;
	-webkit-box-shadow: 0px 0px 35px #FFFF99;
}
	#imBookCntnr {
		background-color: #000;
		position: relative;
		display: inline-block !important;
		width:80%;
		height:100%;
		padding:0;
	}

	.imBookPage {
		background-color:#FAF9E1;
		position:absolute;
		left:0px;
		top:0px;
		width: 49%;
		height:100%;
		color:#fff;
		overflow:hidden;
		border: solid 1px #000;
	}
	.imBookPage .imBookPage {
		cursor: pointer;
		width:100%;
		display:table;
	}

	.book_container h3, .book_container p {
		color:#640615;
		/*top:auto;*/
		vertical-align: center;
	}
	.book_container p {
		padding:20px;
	}
	.book_container .middle {
		display:table-cell;
		vertical-align: middle;
	}

	.book_container .title_img {
		height:150px;
	}

	.book_container .top {
		height:135px;
		margin-top: -27px;
	}
	.book_container .left {
		height: 170px;
		position: absolute;
		top: 105px;
		z-index: 1;
		left: 20px;
	}
	.book_container .right {
		height: 82px;
		right: 29px;
		top: 116px;
		position: absolute;
		transform: rotate(9deg);
	}
	.book_container .bottom_right {
		height:140px;
		float: right;
		transform: rotate(-10deg);
		margin-top: 100px;
	}




@media only screen and (max-width: 820px) {
	article {
		width:95%;
	}
}

@media only screen and (max-width: 770px) {
	header img {
		height:150px;
	}
	header h3 {
		top:100px;
	}
	nav {
		margin-left:-5%;
		width:110%;
		text-align: left;
	}
	nav .button {
		display:inline-block;
	}
	nav li{
		cursor: pointer;
		display:none;
		float:none;
		height:30px;
		width: 100%;
		text-align: left;
	}
	nav li:first-child {
	    margin-left: 0px;
	}
	nav .selected {
		display:block;
		background-position: 10px 0;
		height:58px;
		text-align: left;
		width:100%;
	}


	nav.drop-menu {
		height:auto;
	}
	nav.drop-menu li {
		display:block;

		padding-left: 10%;
		padding-top:10px;
		margin-left:-5%;
	}
	nav.drop-menu li:hover {
		background-color: #640615;
	}
	nav.drop-menu li:hover a {
		color:#FFFFE6;
		text-decoration: none;
	}
	nav.drop-menu a {
		display:block;
		height:100%;
		width: 100%;
	}
	.selected a {
		margin-left: 100px;
	}


	
	.story .button {
		cursor:auto;
		display: inline-block;
	}
	.story .button:hover {
		background-color: transparent;
	}
	.story .list {
		display:block;
	}

	.main .button {
		box-shadow:none;
		padding:0;
		width:auto;
	}

}

@media only screen and (max-width: 665px) {
	header img {
		height:100px;
	}
	header h3 {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 593px) {
	h1 {
		font-size: 2.5em;
		float:none;
		text-align: center;
	}
	header h3 {
		left:auto;
		width: 100%;
		text-align: center;
		top:160px;
	}
}
@media only screen and (max-width: 359px) {
	header h3 {
		width:50%;
	}
	.party {
		width:auto;
	}
}

